.main{

  height: 100vh;
  width: 100%;
  position :absolute;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: whitesmoke;
  
}

.container{

    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
    

}
.box1 img{
     height: 40vh;
     width: 100%;  
    border-color: black;
    border-radius: 10px;
}
.box2{
    height: 40vh;
    width: 20%;
    border-color: black;
    border-radius: 10px;
    background-color: wheat;
}

